.avatarContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
  .imgContainer {
    img  {
      border-radius: 50%;
      object-fit: cover;
      margin: 0 auto;
      display: block;
    }
  }

  p {
    color: rgb(83, 83, 83);
    font-weight: 600;
    font-size: 25px;
    margin: 20px 0 10px 0;
  }

  h2 {
    font-size: 55px;
    color: rgb(48, 48, 48);
    margin: 10px 0;
  }
  h3 {
    font-size: 30px;
    color: rgb(70, 70, 70);
    margin: 5px 0;
  }
  .buttonDiv {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    gap: 10px;
  }

  .contactLinks {
    display: flex;
    gap: 10px;
    img {
      transition: transform 0.3s ease, opacity 0.3s ease;
      &:hover{
        opacity: 0.8;
      }
      width: 30px;
    }
  }
}

@media screen and (max-width: 600px) {
  .avatarContainer {
  .imgContainer {
    img  {
      width: 50%;
      height: 50%;
    }
  }

  p {
    font-size: 17px;;
  }

  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
  .buttonDiv {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    gap: 10px;
  }

  .contactLinks {
    display: flex;
    gap: 10px;
    img {
      transition: transform 0.3s ease, opacity 0.3s ease;
      &:hover{
        opacity: 0.8;
      }
      width: 20px;
    }
  }
}
}