.worksDiv {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: -60px;
  padding-top: 60px;

  .works {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  h2 {
    text-align: center;
    font-size: 50px;
    color: rgb(185, 185, 185);
  }
}

.projectDiv {
  max-width: 800px;

  a {
    max-width: 800px !important;
  }

  h3 {
    margin: 8px 0;
    font-size: 25px;
    font-weight: 600;
    color: rgb(212, 212, 212);
  }
  p {
    font-weight: 500;
    font-size: 17px;
    color: rgb(173, 173, 173);
  }
}

@media screen and (max-width: 1090px) {
  .projectDiv {
    max-width: 80%;
    justify-content: left;
  }
}

@media screen and (max-width: 1090px) {
  .works {
    flex-direction: column;
    gap: 60px;
    align-items: center;
  }

}

@media screen and (max-width: 600px) {
  .worksDiv {
    h2 {
      font-size: 30px;
    }

    h3 {
      font-size: 20px;
    }

    p {
      font-size: 15px;
    }
  }
}