@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&display=swap');

body, html {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(15, 15, 15);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-image: radial-gradient(rgb(48, 48, 48) 1px, transparent 0);
  background-size: 10px 10px;
}